section#hero {
    padding: 50px;
    background-image: url("https://media.istockphoto.com/photos/blue-sky-and-white-clouds-background-picture-id825778252?b=1&k=20&m=825778252&s=170667a&w=0&h=jdnxK2NDwfdGvzzK3PTExB49HwLtrEZu27aB5qp_uxg=");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #me {
    width: 10%;
    height: auto;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin: 55px auto 40px auto;
    border: 5px solid black;  
  }
  
  section {
    color: black;
  }
  
  .carousel-inner img{
    display: block;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
  }
  
  #carouselExampleCaptions {
    width: 60%;
    display: block;
    margin: auto;
  }
  
  section#inspiration {
    background-color: #B0E0E6;
    padding: 50px;
  }
  
  .missionh {
    text-align: center;
  }
  
  .missionp {
    text-align:  center;
  }
  
  section#mission {
    background-color: #B0E0E6;
    padding: 50px;
  }
  
  body {
    font-family: 'Oswald', sans-serif;
  }
  
  #missionpic {
    width: 100%;
    height: auto; 
    padding: 10px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  .skillsh {
    text-align: center;
  }
  
  section#skills {
    background-color: #e3f2fd;
    padding: 50px;
  }
  
  .skillspic {
    width: 25%;
    height: auto;
    max-height: 100px;
    min-height: 100px;
    padding: 5px;
    object-fit: contain;
    margin: auto;
    display: block;
  }
  
  .skillsp {
    text-align: center;
    display: block;
  }
  
  .contacth {
    text-align: center;
  }
  
  section#contact {
    background-color: #e3f2fd;
    padding: 50px;
  }
  
  .logo {
    width: 20%;
    height: auto;
    max-height: 60px;
    min-height: 25px;
    padding: 10px;
    object-fit: contain;
    margin: auto;
    display: block;
  }
  
  section#footer {
    background-color: #B0E0E6;
    padding: 25px 0;
    text-align: center;
    margin: auto;
  }
  
  .logo:hover {
    color: darkgrey;
  }

  #body {
    height: auto;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
  }

  #form {
    text-align: center;
  }

  #name {
    height: auto;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
  }

#projects {
    background-color: #e3f2fd;
    padding: 50px;
}